<h1 *ngIf="post">Edit {{post.title}}</h1>

<form *ngIf="post" (ngSubmit)="onSubmit()" #editUser="ngForm">
  <div *ngIf="errorMessage" class="alert error">{{errorMessage}}</div>

  <input [(ngModel)]="post._id" type="text" id="_id" [ngModelOptions]="{standalone: true}">

  <div>
    <label for="username">Title</label>
    <input [(ngModel)]="post.title" type="text" id="title" [ngModelOptions]="{standalone: true}">
    <div class="error" *ngIf="errors.title">{{errors.title.message}}</div>
  </div>

  <div>
    <label for="body">Body</label>
    <input [(ngModel)]="post.body" type="text" id="body" [ngModelOptions]="{standalone: true}">
    <div class="error" *ngIf="errors.body">{{errors.body.message}}</div>
  </div>

  <div>
    <label for="description">Description</label>
    <input [(ngModel)]="post.description" type="text" name="description" id="description" [ngModelOptions]="{standalone: true}">
    <div class="error" *ngIf="errors.description">{{errors.description.message}}</div>
  </div>

  <div>
    <label for="keywords">Keywords</label>
    <input [(ngModel)]="post.keywords" type="text" id="keywords" [ngModelOptions]="{standalone: true}">
    <div class="error" *ngIf="errors.keywords">{{errors.keywords.message}}</div>
  </div>
  <button type="submit">Submit</button>

</form>
